<header [ngSwitch]="screenState">
    <mat-toolbar color="primary" *ngSwitchCase="'wide_screen'" class="center">
            <button mat-button color="accent" >Clothing</button>
            <button mat-button color="accent">Accessories</button>   
            <span class="fill-remaining-space"></span>
            <button mat-icon-button><mat-icon color="accent">shopping_basket</mat-icon></button>
            <button mat-button color="accent">Blog</button>
            <button mat-button color="accent">About Us</button>
            <button mat-button color="accent" >Contact</button>
    </mat-toolbar>

    <mat-toolbar color="primary" *ngSwitchCase="'tablet'">
        <button mat-button color="accent">Clothing</button>
        <button mat-button color="accent">Accessories</button>
        <span class="fill-remaining-space"></span> 
        <button mat-icon-button><mat-icon color="accent">shopping_basket</mat-icon></button>
        <button mat-button color="accent">Blog</button>
        <button mat-icon-button><mat-icon color="accent" [matMenuTriggerFor]="appMenu">
            more_vert</mat-icon>
        </button>
    </mat-toolbar>

    <!-- Mobile Screens-->
    <mat-toolbar color="primary" *ngSwitchDefault>
        <button mat-icon-button class="mobile-header-icon"><mat-icon color="accent">email</mat-icon></button>
        <a mat-icon-button class="mobile-header-icon">
            <mat-icon color="accent" matBadge="2" matBadgePosition="below after" >
                shopping_basket
            </mat-icon>
        </a>
        <button mat-icon-button class="mobile-header-icon"><mat-icon color="accent">favorite</mat-icon></button>
        <button mat-icon-button class="mobile-header-icon"><mat-icon color="accent" (click)="showMenu()">
            menu</mat-icon>
        </button>
    </mat-toolbar>

    <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
    </mat-menu>



</header>

