<div *ngIf="config != null && basket !=null">

    <!--currency chooser-->
    <app-currency-chooser (currencyChange)="onCurrencyChange($event)"
                    [chosen]="config.preferences.currency.chosen"
                    [available] = "config.preferences.currency.available">
    </app-currency-chooser>
    <div class="w3-row w3-container w3-margin-top">
        <!-- to be displayed left on desktops and 100% width on tablets and mobiles-->
        <div class="w3-col l6">
            <div *ngFor="let item of basket.Items; index as i; trackBy: basketTrackFn" class="w3-display-container w3-mobile w3-card-2 w3-margin-top" 
                style="height: 100px; width: 100%">
                <img [appLazyLoad]="config.imgSrc + item.Images.path + item.Images.list[0].name" style="height: 80px"
                    class="w3-display-left w3-padding">
                <span class="w3-display-topmiddle">{{item.Title.en}}
                    <span *ngFor="let variant of item.Variants.variants; index as varInd">
                        , {{variant.text.en}} : {{item.Combination[varInd].text.en}}</span>
                    </span>
                <div class="w3-display-right w3-padding" style="text-align: right;">
                    <div class="price-total">{{item.Price[config.preferences.currency.chosen.toLowerCase()] * item.Quantity | currency : config.preferences.currency.chosen}}</div>
                    
                    <button mat-button  (click)="removeItem(i)">Remove</button>
                </div>
                <!-- input to change quantities-->
                <div class="w3-display-bottommiddle">
                    <mat-form-field style="max-width: 50px">
                        <mat-label>Quantity</mat-label>
                        <mat-select [value]="item.Quantity.toString()" (selectionChange)="changeQuantity($event, item, i)">
                        <mat-option *ngFor="let quantity of availableQuantities" [value]="quantity">
                                {{quantity}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div><!-- end of one basket item-->       
        </div><!-- Left display end-->
        <div class="w3-col l6 w3-padding" *ngIf="basket.Items.length > 0">
            <mat-form-field>
                <mat-label>Select Country</mat-label>
                <mat-select matNativeControl [(value)]="config.preferences.countryCode" (selectionChange)="onCountryChange($event)">
                  <mat-option value="">Please choose a country</mat-option>
                  <mat-option *ngFor="let countryCode of basket.Costs | keyvalue" value="{{countryCode.key}}">{{commonLib.getCountry(countryCode.key, config.preferences.lang)}}</mat-option>
                </mat-select>
            </mat-form-field><br><br>

            <div *ngIf="basket.hasOwnProperty('Costs') && config.preferences.countryCode != null &&
                        config.preferences.countryCode.length == 2">
                <label>Choose a courier:</label>
                <mat-radio-group class="radio-group"
                    [value]="config.preferences.deliveryMethod" (change)="onCourierChange($event)">
                <mat-radio-button class="radio-button"
                    *ngFor="let courier of basket.Costs[config.preferences.countryCode] | keyvalue" 
                    [value]="courier.key">
                    {{courier.key}}
                </mat-radio-button>
                </mat-radio-group><br>

                <div *ngIf="config.preferences.deliveryMethod != null">
                    <b>Delivery:</b> {{basket.Costs[config.preferences.countryCode][config.preferences.deliveryMethod].payBeforeDelivery.delivery[config.preferences.currency.chosen.toLowerCase()] | currency : config.preferences.currency.chosen}}<br>
                    <b>Discount:</b> {{basket.Costs[config.preferences.countryCode][config.preferences.deliveryMethod].payBeforeDelivery.discount[config.preferences.currency.chosen.toLowerCase()] | currency : config.preferences.currency.chosen}}<br>
                    <b>Subtotal:</b> {{basket.Costs[config.preferences.countryCode][config.preferences.deliveryMethod].payBeforeDelivery.subTotal[config.preferences.currency.chosen.toLowerCase()] | currency : config.preferences.currency.chosen}}<br>
                    <b>Total:</b> {{basket.Costs[config.preferences.countryCode][config.preferences.deliveryMethod].payBeforeDelivery.total[config.preferences.currency.chosen.toLowerCase()] | currency : config.preferences.currency.chosen}}<br><br>
                    <a mat-raised-button color="primary" [routerLink]="['/checkout']"> Proceed to checkout</a>
                </div>
            </div>
            
        </div>
    </div>  
</div>