<header class="">
  <app-header (sideNavToggleEvent)=sideNavEvent()></app-header>
</header>
<mat-sidenav-container *ngIf="config != null">
  <mat-sidenav class="sideNav-container" [(opened)]="sideNav.opened" [position]="'end'">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="mobile-menu w3-padding">
      <!-- This is the tree nodes that don't have children-->
      <mat-tree-node *matTreeNodeDef="let node">
        <a class="mat-tree-node" class="w3-margin-left" [routerLink]="[node.link]" (click)="sideNav.opened = false">
          {{node.text[config.preferences.lang]}}
        </a>
      </mat-tree-node>
      <!-- This is the tree nodes that have children -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" >
        <li>
          <div class="mat-tree-node"  (click)="toggleTreeNodes(node)">
            <button mat-icon-button>
              <mat-icon>
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.text[config.preferences.lang]}}
          </div>
          <ul [hidden]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>