<div class="w3-content" style="max-width: 600px;">
    <h2 class="w3-center">Blog</h2>
    <mat-list>
        <mat-list-item *ngFor="let item of list | objectFilter : {'Published': true}">
            <img matListAvatar [alt]="item.Info.title"
                [src]="config.imgSrc + config.storeId + '/blogs/' + item.ItemId + '/preview_100w.jpg'" >
            <h3 matLine> <b>{{item.Info.title}} </b></h3>
            <p matLine class="w3-text-grey">
                <span  i18n="@@Published">Published</span>: 
                    {{item.PublishDate | date : 'medium'}}</p>
            <p matLine>
                <span> {{item.Info.previewText}} </span>
                <br>
            </p>
            <p matLine>
                <a mat-button color="primary" [routerLink]="['/blog', item.ItemId]"
                    i18n="A 'read more' button@@ReadMore">
                    Read More
                </a>
            </p>
            
        </mat-list-item>
    </mat-list>
</div>
