Showing something
<div class="w3-center" style="height: 300px">
	<span class="w3-white w3-padding w3-round-large hoverable">
        <span class="w3-button" 
            *ngFor="let currencyName of currency.available; last as isLast"
            (click)="changeCurrency(currencyName)">
            <span  [ngClass]="{'w3-tag w3-theme': currencyName == currency.chosen}">
                {{currencyName}}
            </span>
            <!-- Don't show seperator on last item-->
            <span *ngIf="!isLast">|</span> 
        </span> 
	</span>
</div>
