<div *ngIf="config != null && product.item != null">

    <div class="w3-row">
        <div class="w3-col l8">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slickConfig" 
                style="width: 100%; overflow: hidden" class="w3-padding" appImageSizer>
                <div  ngxSlickItem *ngFor="let imgName of product.item.Images.list" style="width:100%; overflow-y:hidden;">
                    <img class="shop_img" [attr.data-lazy]="config.imgSrc + product.item.Images.path + commonFunc.removeExtension(imgName.name) + '_700w.jpg'" style="width:100%; height:auto;"> 
                </div>
            </ngx-slick-carousel>
        </div>
        <div class="w3-col l4 w3-container">
            <h2 class="w3-margin-top">{{product.item.Title[config.preferences.lang]}}</h2>
            <div #price class="price-total">{{ product.item.Price[config.preferences.currency.chosen.toLowerCase()] | currency : config.preferences.currency.chosen}}</div><br>
            <app-currency-chooser (currencyChange)="onCurrencyChange($event)"
                [chosen]="config.preferences.currency.chosen"
                [available] = "config.preferences.currency.available"
                position="left">
            </app-currency-chooser><br>
            <mat-form-field  *ngFor="let variant of product.item.Variants.variants; index as i">
                <mat-label>{{variant.text[config.preferences.lang]}}</mat-label>
                <mat-select matNativeControl [(value)]="pickedSpec[i]" (selectionChange)="updateProductPrice(price)">
                  <mat-option *ngFor="let option of variant.options; index as subIndex" [value]="option" 
                    [disabled]="product.item.TrackStock && product.item.Variants.combinations[subIndex].quantity == 0">
                    {{option.text[config.preferences.lang]}}
                    <span *ngIf="product.item.TrackStock && product.item.Variants.combinations[subIndex].quantity == 0">(<span i18n="@@OutOfStock">Out Of Stock</span>)</span>
                  </mat-option>
                </mat-select>
            </mat-form-field><br>
            <button mat-raised-button color="primary"
                    (click)="addToBasket()"
                    i18n="@@AddToBasket">Add To Basket
            </button><br><br>
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title i18n="@@Description">
                      Description
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div [innerHtml]="product.item.Description[config.preferences.lang]"></div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="currentlyExpanded = 'sizeChart'">
                    <mat-expansion-panel-header>
                      <mat-panel-title i18n="@@SizeChart">
                        Size Chart
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <span *ngIf="currentlyExpanded == 'sizeChart'" [appHtmlEmbed]="'assets/html/' + config.preferences.lang + '/sizes.html'"></span>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="currentlyExpanded = 'shipping'">
                    <mat-expansion-panel-header>
                      <mat-panel-title i18n="@@Shipping">Shipping</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="currentlyExpanded == 'shipping'" [appHtmlEmbed]="'assets/html/' + config.preferences.lang + '/shipping_min.html'"></div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="currentlyExpanded = 'returns'">
                  <mat-expansion-panel-header>
                    <mat-panel-title i18n="@@Returns">Returns</mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngIf="currentlyExpanded == 'returns'" [appHtmlEmbed]="'assets/html/' + config.preferences.lang + '/returns_min.html'"></div>
              </mat-expansion-panel>
            </mat-accordion>
            <div style="height:200px"></div>
        </div>
    </div>

</div>
