/* You can add global styles to this file, and also import other style files */
@import 'assets/css/w3.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.slick-prev:before, .slick-next:before{
	color:goldenrod !important;
	font-size: 35px;
}
	
.slick-prev {
  z-index: 1;
}
  .slick-next {
  z-index: 1;
}
