/* Blog positioning */
#main-img-desc{
    display: flex;
    align-items: stretch;
}

#main-desc{
    display: flex;
    align-items: center;
}

/*For mobile only, we want the image on top of text*/
#blog-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

#blog-container > div{
    flex: 0 0 25%;
    white-space: normal;
    padding: 0% 0.5%;
}

@media (max-width:600px){
    #main-img-desc{
        display: block;
    }

    #main-img-desc > *{
        display: block;
        width: 100% !important;
        margin-top: 8px;
    }

    #blog-container > div{
        flex: 0 0 75%;
    }
}